@import "tailwindcss";

/* Custom theme untuk Tailwind v4 */
@theme {
    --color-purpple: #652ac8;
    --color-green: #10b981;
}

/* Custom utilities */
@layer utilities {
    .font-poppins {
        font-family: "Poppins", sans-serif;
    }
}
